<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

    <mapper namespace="com.rememberme.dunoesanchaeg.contents.mapper.CognitiveGameMapper">

        <insert id="insertGameResult">
            INSERT INTO daily_game_log (
                member_id,
                played_date,
                game_type,
                correct_count,
                wrong_count,
                timeout_count,
                total_try_count,
                total_played_time,
                is_valid
            )
            VALUES (
                #{memberId},
                #{playedDate},
                #{gameType},
                #{correctCount},
                #{wrongCount},
                #{timeoutCount},
                #{totalTryCount},
                #{totalPlayedTime},
                #{isValid}
            )
        </insert>


    </mapper>